/*
page colors light to dark:
afffaa
5bbaff
0053bf
003da8
003991
*/
@font-face {
  font-family: PressStart2P;
  src: url(../Press_Start_2P/PressStart2P-Regular.ttf);
}

.p2-font {
  font-family: PressStart2P;
}

ul, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.name {
  text-align: center;
  color: white;
  font-family: PressStart2P;
  font-size: 18px;  /* Default for really small devices */
  top: 50%;
  left: 50%;
  white-space: nowrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.elevator-pitch-container {
  width: 100%;
}

.scaling {
  font-size: 18px;
}

.cssbtn {
  border: 3px;
  padding: 15px 24px;
  border-style: solid;
  border-radius: 100px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
}

.cssbtn:hover {
  cursor: pointer;
  background-color: #5BBAFF
}

.cssbtn:active {
  box-shadow: 0px 0px;
  background-color: #0053BF;
  color: white;
}

.bg-img {
  background-image: url(../assets/spacebg.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-color {
  background-color: #0053BF;
}

a.tab {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.tab:hover {
  color: #AFFFAA;
  text-decoration: none;
}

a.tab:active {
  color: #5BBAFF;
}

.footer-space {
  padding-top: 10px;
}

.footer-color {
  background: #454545;
}

.footer-text {
  line-height: 1;
  font-size: 12px;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

p {
  color: black;
}

.heading,.heading-decoration-left,.heading-decoration-right {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  padding-top: 5px;
  float: left;
}

.heading-div {
  text-align: center;
  width: auto;
  padding-top: 30px;
}

.heading-decoration-left {
  padding-right: 50px;
}

.heading-decoration-right {
  padding-left: 50px;
}

.width-auto {
  width: auto;
}

.center {
  text-align: center;
}

.card-center {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.text-white {
  color: white;
}

html {
  font-size: 20px;
  line-height: 2;
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
}

p.pitch {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hobby-head {
  font-family: Helvetica, Charcoal, sans-serif;
  font-size: 30px;
}

.job-head {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  font-size: 30px;
}

.pad-bottom {
  padding-bottom: 55px;
}

.horz {
  display: inline-block;
}

.cont-img {
  flex: 1 1 auto;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hobby-img {
  width: 100%;
}

.row-col-changeable {} /* just to mark divs to change with js */

.bg-col-white {
  background-color: white;
  background-size: cover;
}

.bg-col-grey {
  background-color: #DCDCDC;
  background-size: cover;
}

.bg-col-continuation {
  background-color: #050308;
  background-size: cover;
}

.text-green {
  color: #27e86b;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .name {
    font-size: 25px;
  }
  .scaling {
    font-size: 20px;
  }
  .elevator-pitch-container {
    width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .name {
    font-size: 40px;
  }
  .scaling {
    font-size: 36px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .name {
    font-size: 55px;
  }
  .scaling {
    font-size: 36px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .name {
    font-size: 70px;
  }
  .scaling {
    font-size: 50px;
  }
}
