/*
page colors light to dark:
afffaa
5bbaff
0053bf
003da8
003991
*/
@font-face {
  font-family: PressStart2P;
  src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}

ul, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a.h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

html {
  font-size: 20px;
  line-height: 2;
}

html, body {
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.name {
  text-align: center;
  color: white;
  font-family: PressStart2P;
  font-size: 100px;
  top: 50%;
  left: 50%;
}

p.pitch {
  text-align: center;
  color: white;
}

.heading {
  text-align: center;
  font: Impact, Charcoal, sans-serif;
  color: black;
  padding-top: 5px;
  font-size: 50px;
}

.hobby-head {
  font: Helvetica, Charcoal, sans-serif;
  font-size: 30px;
}

.job-head {
  font: Bookman, Charcoal, serif;
  font-size: 30px;
}

.pad-bottom {
  padding-bottom: 25px;
}

.cssbtn {
  border: 1px;
  padding: 15px 24px;
  border-style: solid;
  border-top-color: blue;
  background-color: #AFFFAA;
  border-radius: 10px;
  box-shadow: 0px 4px;
  color: black;
}

.cssbtn:hover {
  cursor: pointer;
  background-color: #5BBAFF
}

.cssbtn:active {
  box-shadow: 0px 0px;
  background-color: #0053BF;
  color: white;
}

.horz {
  display: inline-block;
}

.center {
  text-align: center;
}

.footer-space {
  margin-top: 10px;
}

.footer-color {
  background: grey;
}

.footer-text {
  line-height: 1;
  font-size: 12px;
}

.text-white {
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0053BF;
  position: fixed;
  top: 0;
  width: 100%;
}

li.left {
  float: left;
}

a.tab {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.tab:hover {
  background-color: #003DA8;
}

a.tab:active {
  background-color: black;
}

.item-img {
  width: 440px;
  height: 360px;
}

.cont-img {
  width: 200px;
  height: 200px;
}

.bg-img {
  background-image: url(/gratisography-mountain-peaks.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 100%;
  height: auto;
  background-position: center;
}

.bg-col-white {
  background-color: white;
  background-size: cover;
}

.bg-col-grey {
  background-color: #DCDCDC;
  background-size: cover;
}

p {
  color: black;
}
